.component_outer{
    margin-top: 74px;
    height: calc(100vh - 74px);
    background-color: transparent;
    padding: 15px 30px 15px 30px;
}
.outer_store_comp{
    margin: 40px;
}
.standart_table{
    border-collapse: collapse;
    width: 100%;
    th, td {
        padding: 15px 15px 15px 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    tr{

        transition: all .1s ease;
        &:first-child{
            background-color: rgb(243, 243, 243);
        }
        &:hover{
            transition: all .1s ease;
            background-color: rgb(243, 243, 243);
        }
    }
}
  
  